{namespace app.views}

/**
 * Template to creae the header bar for the froggy automation app.
 */
{template .HeaderBarSoy}
  <div class="headerbar">
    <div class="menubar">
	  <div id="${ids.status}">
	    Status
	  </div>
	  <div id="${ids.config}">
	    Config
      </div>
	</div>
	<div class="headertitle">
      Froggy Automation v1.0
	</div>
  </div>
{/template}